.box {
  max-width: 800px;
  border: 3px solid rgb(255, 226, 2);
  border-radius: 5px;
  margin: 35px auto 0;
  padding: 10px;
  font-family: "Roboto Slab", serif;
  display: block;
  text-align: center;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.title {
  margin: 20px auto 14px;
  font-size: 35px;
  font-weight: 400;
}

.btn {
  background-color: #ffffff;
  color: black;
  border-color: black;
}

.btn:hover {
  background-color: rgb(255, 226, 2);
  border-color: black;
  color: black;
}

.updatedOn {
  margin: 15px auto 10px;
  font-weight: 300;
}

.cityDisplay {
  margin: 0 auto;
  margin-right: 5px;
  font-size: 40px;
  font-weight: 200;
}
.temp {
  margin: 10px auto;
  font-size: 35px;
}

.icon {
  margin-top: 10px;
}

.activityImage {
  display: block;
  margin: 20px auto 0px;
  width: 300px;
}

.weatherForecast {
  margin: 0 auto 60px;
  text-align: center;
}

.weatherForecastDate {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}

.weatherForecastTemp {
  font-size: 13px;
}

.weatherForecastTempMin {
  opacity: 0.5;
}

.sourceCode {
  display: block;
  margin: 5px auto 30px;
  text-align: center;
}
