.box {
  max-width: 800px;
  border: 3px solid rgb(255, 226, 2);
  border-radius: 5px;
  margin: 35px auto;
  padding: 10px;
  font-family: "Roboto Slab", serif;
  display: block;
  text-align: center;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.title {
  margin: 20px auto 14px;
  font-size: 35px;
  font-weight: 400;
}

.btn {
  background-color: #ffffff;
  color: black;
  border-color: black;
}

.btn:hover {
  background-color: rgb(255, 226, 2);
  border-color: black;
  color: black;
}

/* .myLocationBtn {
  font-size: 20px;
  font-weight: 300;
  border: none;
  box-shadow: none;
  background: transparent;
} */

.updatedOn {
  margin: 15px auto 10px;
  font-weight: 300;
}

.cityDisplay {
  margin: 0 auto;
  margin-right: 5px;
  font-size: 40px;
  font-weight: 200;
}
.temp {
  margin: 10px auto;
  font-size: 35px;
}

.units {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: 18px;
  margin-left: 5px;
}

.units .active {
  color: black;
  cursor: default;
  font-weight: 400;
}

.units:hover {
  text-decoration: none;
  color: blue;
}

.icon {
  margin-top: 10px;
}

.activityImage {
  display: block;
  margin: 20px auto;
  width: 300px;
}

.sourceCode {
  display: block;
  margin: 0 auto;
}
